		.head1 {
			margin-top: -1vw;
			font-size: 3vw;
			color: red;
			font-weight: bold;
			text-align: center;
			background-color: white;
			position: relative;
		}

		.head2 {
			font-size: 2vw;
			margin-left: 10px;
			margin-bottom: 1px;
			text-align: center;
		}

		body {
			margin: 0 auto;
			background-position: center;
			background-size: contain;
			background-color: powderblue;
			line-height: 2;
			text-align: justify;
		}

		.menu {
			position: sticky;
			top: -10px;
			background-color: #8c52ff;
			padding: 1vw 0vw 1vw 0vw;
			color: blue;
			margin: -3vw 0vw 0vw 0vw;
			overflow: hidden;
		}

		.menu a {
			float: left;
			font-weight: bold;
			color: white;
			text-align: center;
			padding: 0.2vw 2vw;
			text-decoration: none;
			font-size: 1.6vw;
		}

		.menu-log {
			right: auto;
			float: right;
		}

		footer {
			width: 100%;
			bottom: 0px;
			background-color: #8c52ff;
			color: antiquewhite;
			padding-top: 1vw;
			padding-bottom: 1.2vw;
			text-align: center;
			font-size: 1.5vw;
			font-weight: bold;
		}

		.body_sec {
			margin-left: 3vw;
			margin-right: 3vw;
			font-size: 1.6vw;
		}
	
		.song {
			text-align: center;
			font-style: italic;
			color: red;
			border-style: groove;
			border-color: grey;
			border-radius: 1vw;
		}
	
		.answerkey{
			position: relative;
			text-align: center;
			color: green;
		}
		
		.side-heading{
			color: green;
			text-decoration: underline;
		}
		
		.side-heading1{
			color: #710193;
			text-decoration: underline;
		}
		
		.example{
			color: #4d0f28;
			font-size: 1.4vw;
		}
		
		.explanation{
			text-align: justify;
		}
		

		table, th, td{
			border: 1px solid black;
			margin-left: auto;
			margin-right: auto;
			font-size: 1.5vw;
			border-style: groove;
		}

		th{
			text-align: center;
		}
		
		table{
			width: 100%;
		}
		
		caption{
			font-style: italic;
			border: 1px solid black;
		}

		a{
			text-decoration: none;
		}
		
		.asai-tree th{
			color: green;
			font-style: italic;
			font: 1.2vw;
			width: 32%;
		}
		
		.asai-tree td{
			font: 1.2vw;
			width: 33%;
			text-align:center;
			font-style: italic;
		}
		
		.header img{
			width: 100%
		}
		
		.print img{
			width: 2%;
			height: 2%;
		}
		
