		.head1 {
			margin-top: 1vw;
			font-size: 3vw;
			color: red;
			font-weight: bold;
			text-align: center;
		}

		.head2 {
			font-size: 2vw;
			margin-left: 10px;
			margin-bottom: 1px;
			text-align: center;
		}

		body {
			margin: 0 auto;
			background-position: center;
			background-size: contain;
		}

		.menu {
			position: sticky;
			top: 0;
			background-color: cyan;
			padding: 1vw 0vw 1vw 0vw;
			color: white;
			margin: 0 auto;
			overflow: hidden;
		}

		.menu a {
			float: left;
			font-weight: bold;
			color: white;
			text-align: center;
			padding: 0.2vw 2vw;
			text-decoration: none;
			font-size: 1.6vw;
		}

		.menu-log {
			right: auto;
			float: right;
		}

		footer {
			width: 100%;
			bottom: 0px;
			background-color: cyan;
			color: #fff;
			padding-top: 1vw;
			padding-bottom: 1.2vw;
			text-align: center;
			font-size: 1.5vw;
			font-weight: bold;
		}

		.body_sec {
			margin-left: 3vw;
			margin-right: 3vw;
			font-size: 1.6vw;
		}
	
		.song {
			text-align: center;
			font-style: italic;
			color: red;
		}
	
		.answerkey{
			position: relative;
			text-align: center;
			color: green;
		}
		
		.explanation{
			text-align: justify;
		}
		

		table, th, td{
			border: 1px solid black;
			margin-left: auto;
			margin-right: auto;
		}
		
		caption{
			font-style: italic;
		}

		th{
			align: center;
		}
